#formbuilder_form table {
  border-spacing: 0px;
  border-collapse: collapse;
  empty-cells: show;
}

#formbuilder_form .label {
  padding-top: 10px;
  padding-right: 8px;
  text-align: right;
  width: 125px;
  white-space: nowrap;
}

#formbuilder_form .field {
  padding-bottom: 10px;
  white-space: nowrap;
}

#formbuilder_form .status {
  vertical-align: middle;
  padding-top: 2px;
  padding-left: 8px;
  width: 246px;
  white-space: nowrap;
}

#formbuilder_form .textfield {
  width: 150px;
}

#formbuilder_form label.error {
  background:url("../images/formbuilder_unchecked.png") no-repeat 0px 0px;
  padding-left: 20px;
  padding-bottom: 2px;
  font-weight: bold;
  color: #EA5200;
}

#formbuilder_form label.checked {
  background:url("../images/formbuilder_checked.gif") no-repeat 0px 0px;
}

#formbuilder_form .success_msg {
  font-weight: bold;
  color: #0060BF;
  margin-left: 19px;
}

#formbuilder_form #dateformatStatus, #formbuilder_form #termsStatus {
  margin-left: 6px;
}

#formbuilder_form #dateformat_eu {
 vertical-align: middle;
}

#formbuilder_form #ldateformat_eu {
  font-weight: normal;
  vertical-align: middle;
}

#formbuilder_form #dateformat_am {
  vertical-align: middle;
}

#formbuilder_form #ldateformat_am {
  font-weight: normal;
  vertical-align: middle;
}

#formbuilder_form #termswrap {
  float: left;
}

#formbuilder_form #terms {
  vertical-align: middle;
  float: left;
  display: block;
  margin-right: 5px;
}

#formbuilder_form #lterms {
  font-weight: normal;
  vertical-align: middle;
  float: left;
  display: block;
  width: 350px;
  white-space: normal;
}

#formbuilder_form #lsignupsubmit {
  visibility: hidden;
}