.site-header {
}
.site-header .logo {
	padding-bottom: 0;
	padding-left: 0;
}
#wrapper {
	width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
	min-height: 400px;
}


body {
	background-color: #F1F1F1;
}