.home-grid .grid-item p.title {
	font-size: 1.2em;
}
.home-grid .grid-item p.desc {
	width: 281px;
}
.home-grid .grid-item img {
	float: left;
	margin: 0 12px 0px 0;
}
.home-grid .grid-item div {
	overflow: hidden;
	width: 281px;
}
.home-grid .first-row .grid-item {
	margin-bottom: 30px;
}
.home-grid .grid-item {
	position: relative;
	padding-left: 10px;
}
.home-grid {
	border: 1px solid #DDD;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	box-shadow: 0 1px 2px rgba(0,0,0,.075);
	border-image: initial;
	padding: 12px;
}
.home-success {
	position: relative;
	min-height: 60px;
}

.home-success .success-message {
	font-size: 1.2em;
	margin-top: 18px;
}

.home-success .success-icon {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 52px;
	height: 52px;
}