<IfModule mod_rewrite.c>
	RewriteEngine on
	Options +FollowSymLinks

	RewriteCond %{REQUEST_URI} !css|scripts|images|install
        RewriteRule .* index.php
</IfModule>

FileETag none

<IfModule mod_expires.c>
	#ExpiresByType image/jpg "modification plus 3 months"
	#ExpiresByType image/gif "modification plus 3 months"
	#ExpiresByType image/png "modification plus 3 months"
	#ExpiresByType application/x-shockwave-flash "modification plus 3 months"
</IfModule>
