html, body {
    min-height:100%;
    height:100%;
    position:relative;
    background:#161616;
}
h2 {
    margin:0;
}
h3 {
    margin:0 0 10px 0;
}
#container {
    height:100%;
}
#landing, #landing-two {
    height:100%;
    position:relative;
    background:#284545;
    border-top:1px solid;
    text-align:center;
    padding:50px;
}
#landing-two {
    background:#202020;
    text-align:left;
    padding:50px;
    color:#fff;
    border:none;
}
#landing img, #landing-two img {
    width:120px;
    margin-bottom:50px;
}
#landing .landing-wrapper {
    position:relative;
    top:50%;
    margin-top:-100px;
    height:215px;
}
#landing .landing-wrapper .buttons a {
    width:200px;
    background:#406c6c;
    border-radius:4px;
    padding:15px;
    display:inline-block;
    color:#fff;
    text-decoration:none;
    border:1px solid #303030;
    outline:none;
}
#landing .landing-wrapper .buttons a:first-child {
    margin-right:5px;
}

.list-container {
    width:100%;
    margin-top:50px;
}
.landing-list {
    width:30%;
    height:200px;
    padding:1% 1.5%;
    float:left;
    margin-left:5%;
    background:rgba(255, 255, 255, 0.05);
    border-radius:4px;
}
.landing-list:first-child {
    margin-left:0;
}
.landing-list ul {
    list-style:none;
    padding:0;
    margin:0;
}
.landing-list:first-child ul {
    border:none;
}
.landing-list a {
    color:#406c6c;
}