{% extends '::base.html.twig' %}

{% block body %}

	<h4>Action twig content: HELLO WORLD FROM TWIG</h4>

	<p>{{ asset('css/general.css') }}</p>

	<p><a href="{{ path('Homepage') }}">Home</a></p>

{% endblock %}

