/* Generic Styes */
body {
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}


.fl { float: left; }
.fr { float: right; }
.clear { clear: both; height: 1px; font-size: 1px; }
.abs { position: absolute; }
.rel { position: relative; }

/* Tabs Styling */
.ui-tabs { zoom: 1; }
.ui-tabs .ui-tabs-nav 
{ list-style: none; position: relative; padding: 2px 2px 0; overflow: hidden; top: 1px; z-index: 1000; height: 25px; }
.ui-tabs .ui-tabs-nav li 
{ position: relative; float: left; border: 1px solid #ccc; border-bottom-width: 0 !important; margin: 0 2px -1px 0; background: #ccc; }
.ui-tabs .ui-tabs-nav li a
{ float: left; text-decoration: none; padding: 5px 10px; color: black; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected 
{ padding-bottom: 1px; border-bottom-width: 0; background: white; }
.ui-tabs .ui-tabs-panel {
	display: block; 
	border-width: 0; 
	background: none; 
	border: 1px solid #ccc; 
	position: relative; 
	min-height: 200px; 
	height: auto !important; 
	height: 200px;
	padding: 20px;
}
.ui-tabs .ui-tabs-hide
{ display: none !important; }
a.mover
{ background: #900; padding: 6px 12px; position: absolute; color: white; font-weight: bold; text-decoration: none; }
.next-tab 
{ bottom: 0; right: 0; -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; }
.prev-tab 
{ bottom: 0; left: 0; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; }
/* End of tabs styling */


/* Fragment Styling */
#fragment-3-left {
	width: 400px;
	float: left;
}
#fragment-3-right {
	width: 500px;
	float: left;
}

#fragment-3-left p, #fragment-3-right p {
	height: 40px;
}

#fragment-3-left .header {
	padding-left: 20px;	
}

#fragment-3-right .header {
	padding-left: 20px;
}

#fragment-3-right input[type=button] {
	margin-left: 10px;
}

#test_db_connection { 
	float: left;
	margin-left: 22px;
	margin-top: 11px;
}




#terms_and_conditions {
	width: 600px;
	height: 250px;
	border: 1px solid #CCC;
	overflow-y: auto;
	padding: 12px;	
}

#test_db_connect_container {
	float: left;
	margin-left: 12px;
}

#test_db_connect_container .message {
	padding: 12px 12px 12px 30px;
}

#test_db_connect_container .failed {
	background: url(images/cross.png) no-repeat left center;
}

#test_db_connect_container .passed {
	background: url(images/tick.png) no-repeat left center;
}

/* End of Fragment Styling */

/* Form Styling */

form {
    margin:0 auto;
  /*  width:400px;*/
    padding:14px;
 /*   border:solid 2px #b7ddf2;
    background:#EAFFD5;
*/
}

form div.header {
    border-bottom:solid 1px #b7ddf2;
    font-size:11px;
    margin-bottom:20px;
}


form input[type=text] {
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:200px;
    margin:2px 0 20px 10px;
}

form .errored {
	background-color: #FF9966;
}

form div.header h1 {
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}


form div.header .description {
    color: #666666;
}


form p {
    font-size:11px;
    margin-bottom:20px;
}

form label.normal {
	float: none;
	width: auto !important;
	text-align: normal;
	display: inline;
}

form label {
    display:block;
    font-weight:bold;
    text-align:right;
    width:160px;
    float:left;
}

form label:hover { cursor: pointer; }



form .small {
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:160px;
}

ul#req_check_list li .passed{
	background-image: url('images/tick.png');
	background-position: right center;
	background-repeat: no-repeat;
}

ul#req_check_list li .failed {
	background-image: url('images/cross.png');
	background-position: right center;
	background-repeat: no-repeat;
}

ul#req_check_list li{
	padding-bottom: 0px;
}

ul#req_check_list li .title {
	width:300px;
	height: 30px;
	padding-top: 16px;
	float: left;
}

ul#req_check_list li .message{
	padding-top: 16px;
	color:red;
	margin-left: 12px;
	float: left;
}



/* End of form styling */
